body{
    margin: 0px;
    background-color: #f3ede7;
}

#barra-superio{
    background-color: #4F8EC4;
    width: 375px;
    height: 45.49px;
}

#informacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
}

#img-libro{
    width: 103px;
    height: 65px;
    background-position-x: 124px;
    background-position-y: 80px;
}

#bienvenido{
    font-weight: bold;
    font-size: 33px;
    color: #4F8EC4;
}

#parrafo{
    font-size: medium;
    font-size: 16px;
    color: #06283D;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-left: 30px;
}

.texo{
    font-weight: bolder;
    font-size: 14px;
    color: #4F8EC4;
    margin-bottom: 0px;
}

.separacion{
    padding-bottom: 10px
}

.input{
    background-color: #d9dfe3;
    width: 298px;
    height: 49px;
    border-radius: 8px;
    border: 0px;
    font-size: 17px;
}

#boton{
    display: flex;
    justify-content: center;
}

#config-boton{
    width: 298px;
    height: 48px;
    border-radius: 8px;
    border: 0px;
    background-color: #4F8EC4;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#linea{
    border: 1px #B3B3B3 solid;
    margin-top: 10px;
    margin-left: 30px;
}

#InicioSesion{
    display: none;
}

#nav-landing-page{
    background-color: #9CBFDE;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#boton-registro{
    border-radius: 45px;
    /* margin: 0px; */
    border: 0px;
    background-color: #4F8EC4;
    color: white;
    width: 102px;
    height: 25px;
}

.texto-bienvenida{
    text-align: center;
    width: 204px;
}

.img-motorista{
    width: 267px;
    height: 196px;
    text-align: center;
}
footer{
    background-color: #4F8EC4;
    width: 375px;
    height: 76px;
}

#Landing-page{
    display: block;
}